<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <p class="footer-p">Work on developing the infrastructure for and maintaining the COVID-19 Forecast Hub has been supported by the US Centers for Disease Control and Prevention (U01IP001122-01-05) and the US National Institutes of Health (R35GM119582). Contributing teams may have received additional funding to support their contributions. The content of the COVID-19 Forecast Hub is solely the responsibility of the participating teams and the Hub maintainers and does not necessarily represent the official views of NIH or CDC.</p>
        </div>
      </div>
    </div>
  </div>
</div>